@media (max-width: 600px) {
    /* Home */
    .menu {
        background-image: url(../img/menu.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 35px;
    }
    #homeDiv {
        position: absolute;
        top: 10%;
        left: 0%;
        width: 100%;
        height: 90%;
        overflow: auto;
        overflow-wrap: break-word;
        text-align: center;
    }
    .homeMenu {
        width: 75%;
        background-color: white;
        border-style: solid;
        border-radius: 75px;
        border-color: black;
        border-width: 2px;
        aspect-ratio: 1/1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .homeLabel {
        color: black;
        font-size: 35px;
        align-self: flex-end;
        display: inline-block;
        margin-bottom: 10%;
    }
}